<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright 2016 Google Inc.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
                android:name=".GlobalActionBarService"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:exported="true">
            <!-- 접그넝 서비스에 바인딩 할 수 있는 권한 -->

            <!-- Accessibility Service 인텐트 필터 선언 -->
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <!-- 생성 중인 서비스의 메타데이터가 포함된 파일의 위치 -->
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/global_action_bar_service"/>
        </service>
    </application>
</manifest>
