<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Activity_Embedding"
        android:name=".util.SampleApplication"
        tools:targetApi="32">
        <activity
            android:name=".view.PlaceHolderActivity"
            android:exported="false"
            android:label=""/>
        <!-- activity-embedding 사용을 위한 속성 추가 -->
        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED"
            android:value="true" />

        <activity
            android:name=".view.ListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DetailActivity"
            android:exported="false"
            android:label="" />
        <activity
            android:name=".view.SummaryActivity"
            android:exported="false"
            android:label="" />

        <!--InitializationProvider가 SplitInitializer를 초기화하면 이 요소가 XML 구성 파일(main_split_config.xml)을 파싱-->
        <!--main_split_config.xml)을 파싱하고 RuleController에 규칙을 추가하는 RuleController 메서드를 호출 -->
        <provider android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!--InitializationProvider가 앱의 onCreate() 메서드가 실행되기 전에 SplitInitializer를 검색하고 초기화-->
            <!-- Make SplitInitializer discoverable by InitializationProvider. -->
            <meta-data android:name="${applicationId}.SplitInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>
